**/__pycache__/
schematics_kicad/kicad/testbed-backups/
schematics_kicad/kicad/*.bak
docs/_build/
docs/top/
docs/index_top.rst
results/
results_*/
git_cache/
downloads/
*.log
testbed.lock
mpbuild/tests_mpbuild/results/*.txt
